<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Root Component</h1>

  <!-- creating the components -->
  <app-child></app-child>
  <app-header></app-header>

  <table border="2px">
    <th>One - Way Data Bindind</th>
    <th>Two - Way Data Bindind</th>

    <tr>
      <td><app-one-way></app-one-way></td>
      <td><app-two-way></app-two-way></td>
    </tr>

  </table>



</body>

</html>